<!-- <div>{{data | json}}</div> -->


<!-- <ul *ngFor="let item of data">
    <li>ID: {{ item.id }}</li>
    <li>Name: {{ item.name }}</li>
    <li>Department: {{ item.department }}</li>
    <li>salary: {{ item.salary }}</li>
</ul> -->
  

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data">
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.department}}</td>
        <td>{{item.salary}}</td>
      </tr>
    </tbody>
  </table>
  